<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
    <link rel="stylesheet" href="/css/style.css">
     <script src="https://cdn.tailwindcss.com"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link href="/css/rating.css" rel="stylesheet">
</head>  
<body class="flex flex-col min-h-screen bg-gray-50">
    
    <%- include("../includes/navbar.ejs") %>
    
    <main class="container mx-auto p-4 flex-grow flex flex-col">
        <%- include('../includes/flash.ejs') %>
        <%- body %>
    </main>
    
    <%- include('../includes/footer.ejs') %>
    
    <script src="/js/script.js"></script>
</body>
</html>