<% layout('/layouts/boilerplate') %>
<body>
    <div id="filters" class="flex gap-6">
        <a href="/listings?category=all" class="filter text-center m-2 hover:cursor-pointer opacity-60 hover:opacity-100">
            <i class="fa-solid fa-list-ul"></i>
            <p class="text-sm">All</p>
        </a>
        <a href="/listings?category=trending" class="filter text-center m-2 hover:cursor-pointer opacity-60 hover:opacity-100">
           <div><i class="fa-solid fa-fire "></i></div>
            <p class="text-sm">Trending</p>
        </a>
        <a href="/listings?category=rooms" class="filter text-center m-2 hover:cursor-pointer opacity-60 hover:opacity-100">
           <div><i class="fa-solid fa-bed"></i></div>
            <p class="text-sm">Rooms</p>
        </a>
        <a href="/listings?category=iconic-cities" class="filter text-center m-2 hover:cursor-pointer opacity-60 hover:opacity-100">
           <div><i class="fa-solid fa-mountain-city"></i></div>
            <p class="text-sm">Iconic Cities</p>
        </a>
        <a href="/listings?category=mountains" class="filter text-center m-2 hover:cursor-pointer opacity-60 hover:opacity-100">
           <div><i class="fa-solid fa-mountain"></i></div>
            <p class="text-sm">Mountains</p>
        </a>
        <a href="/listings?category=castles" class="filter text-center m-2 hover:cursor-pointer opacity-60 hover:opacity-100">
           <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p class="text-sm">Castles</p>
        </a>
        <a href="/listings?category=amazing-pools" class="filter text-center m-2 hover:cursor-pointer opacity-60 hover:opacity-100">
           <div><i class="fa-solid fa-person-swimming"></i></div>
            <p class="text-sm">Amazing Pools</p>
        </a>

        <a href="/listings?category=camping" class="filter text-center m-2 hover:cursor-pointer opacity-60 hover:opacity-100">
           <div><i class="fa-solid fa-campground"></i></div>
            <p class="text-sm">Camping</p>
        </a>
        <a href="/listings?category=farms" class="filter text-center m-2 hover:cursor-pointer opacity-60 hover:opacity-100">
           <div><i class="fa-solid fa-cow"></i></div>
            <p class="text-sm">Farms</p>
        </a>
        <a href="/listings?category=arctic" class="filter text-center m-2 hover:cursor-pointer opacity-60 hover:opacity-100">
           <div><i class="fa-solid fa-snowflake"></i></div>
            <p class="text-sm" >Arctic</p>
        </a>
    </div>

    <div class="grid grid-cols-2 max-[520px]:grid-cols-1 md:grid-cols-3 gap-8">
    <% for(let listing of allListings){ %>
    <a href="/listings/<%= listing._id %>" class="group">
    <div class="w-auto bg-white rounded-lg border border-gray-200 shadow-sm overflow-hidden">
        <div class="relative h-60 w-full bg-gray-100 overflow-hidden">
            <img src="<%= listing.image.url %>" class="w-full h-full object-cover" alt="listing_image">
            <div class="absolute inset-0 bg-white opacity-0 group-hover:opacity-20 transition-opacity duration-300"></div>
        </div>
        <div class="p-4">
            <p class="text-sm font-medium text-gray-600 leading-relaxed">
                <b><%= listing.title %></b> <br>
                ₹<%= listing.price ? listing.price.toLocaleString("en-IN") : "0" %> / night
            </p>
        </div>
    </div>
</a>
     <% } %>
    </div>
</body>